body {
  background-color: tomato;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    text-align: center;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  p {
    position: absolute;
    top: 0;
  }
  p:first-of-type {
    left: 0;
  }
  p:last-of-type {
    right: 0;
  }
}
